<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hackathon</title>

    <link rel="stylesheet" href="vendor/css/vendor.css"/>
    <link rel="stylesheet" href="vendor/css/iconfont/material-icons.css"/>
    <link rel="stylesheet" href="assets/css/style.css"/>
</head>
<body ng-app="app" nc-cloak layout="column" ng-controller="MainController as main">
<md-toolbar>
    <div class="md-toolbar-tools">
        <h2 ng-if="main.hasServerData()">{{main.serverData.url}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Edit">
            <md-icon md-font-set="material-icons">face</md-icon>
        </md-button>
    </div>

</md-toolbar>
<md-content flex layout-padding>
    <md-grid-list
            md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
            md-row-height-gt-md="1:1" md-row-height="2:2"
            md-gutter="12px" md-gutter-gt-sm="8px">

        <md-grid-tile md-rowspan="{{job.height}}" md-colspan="{{job.width}}"
                ng-repeat="job in main.jobs" ng-init="job.width = 1; job.height = 1" ng-style="{background: main.getColor(job)}">
            <div style="color:white; font-weight: 900">
                {{job.name}}
            </div>
            <md-grid-tile-footer>
                <md-button class="md-icon-button" aria-label="Larger" ng-click="main.larger(job)">
                    <md-icon md-font-set="material-icons" style="color:white">fullscreen</md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Smaller" ng-click="main.smaller(job)">
                    <md-icon md-font-set="material-icons" style="color:white">fullscreen_exit</md-icon>
                </md-button>
                <md-button class="md-icon-button" aria-label="Smaller" ng-click="main.promptBuild(job)">
                    <md-icon md-font-set="material-icons" style="color:white">refresh</md-icon>
                </md-button>
            </md-grid-tile-footer>
        </md-grid-tile>
    </md-grid-list>
</md-content>



<script src="vendor/vendor.min.js"></script>

<script src="scripts/app.min.js"></script>
</body>
</html>